<nav id="navbar" class="navbar navbar-default navbar-static-top" role="navigation">
    <div id="top" class="col-md-10 col-md-offset-1">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">SP</a>
        </div>
        <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="false" style="height: 1px;">
            <ul id="page-links" class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="#">Another Link</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/help">Support</a></li>
            </ul>
        </div>
      
    </div>
</nav>