
#faqs .title, #answers .title {
    font-weight: bold;
}

#page-wrap {
    min-height: calc(100vh - 143px);
}

.no-nav-pad {
    margin-top: -21px;
}

.footer {
    color: #ffffff;
}

.footer p {
    padding-top: 20px;
    padding-bottom: 10px;
}