<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <%-stylesheets%>
</head>
<body>
    
    <header>
        <% include ../partials/nav %>
    </header>

    <div id="page-wrap" class="container-fluid">
        <div class="row">
            <%-body -%>
        </div>
    </div>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
    <!--Scripts-->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <%-scripts%>
</body>
</html>