
<div class="col-md-10 col-md-offset-1">
    
    <!--ANSWERS-->
    <div id="answers" class="row hidden">
        Something here
    </div>
    
    <!--FAQS-->
    <div id="faqs">
        <div id="start" class="row">
            <h2 class="text-center">Getting Started</h2>
            <hr />
            <div class="col-md-4">
                <h4 class="title">How to I get started?</h4>
                <p>Clone this repo, then run <code>npm install</code> to install the dependencies. When you are ready, run <code>npm start</code>.</p>
            </div>
            <div class="col-md-4">
                <h4 class="title">What's the point?</h4>
                <p>This was just an experiment to use EJS templates to build a simple support page.</p>
            </div>
            <div class="col-md-4">
                <h4 class="title">Why use ejs-locals?</h4>
                <p>ejs-locals is a project that allows you to use layouts in addition to partials, so its pretty good for html templates.</p>
            </div>
            <div class="col-md-4">
                <h4 class="title">How to I get started?</h4>
                <p>Clone this repo, then run <code>npm install</code> to install the dependencies. When you are ready, run <code>npm start</code>.</p>
            </div>
            <div class="col-md-4">
                <h4 class="title">What's the point?</h4>
                <p>This was just an experiment to use EJS templates to build a simple support page.</p>
            </div>
            <div class="col-md-4">
                <h4 class="title">Why use ejs-locals?</h4>
                <p>ejs-locals is a project that allows you to use layouts in addition to partials, so its pretty good for html templates.</p>
            </div>
        </div>
        <div id="about" class="row">
            <h2 class="text-center">Account</h2>
            <hr />
            <div class="col-md-4">
                <h4 class="title">How to I get started?</h4>
                <p>Clone this repo, then run <code>npm install</code> to install the dependencies. When you are ready, run <code>npm start</code>.</p>
            </div>
            <div class="col-md-4">
                <h4 class="title">What's the point?</h4>
                <p>This was just an experiment to use EJS templates to build a simple support page.</p>
            </div>
            <div class="col-md-4">
                <h4 class="title">Why use ejs-locals?</h4>
                <p>ejs-locals is a project that allows you to use layouts in addition to partials, so its pretty good for html templates.</p>
            </div>
            <div class="col-md-4">
                <h4 class="title">How to I get started?</h4>
                <p>Clone this repo, then run <code>npm install</code> to install the dependencies. When you are ready, run <code>npm start</code>.</p>
            </div>
            <div class="col-md-4">
                <h4 class="title">What's the point?</h4>
                <p>This was just an experiment to use EJS templates to build a simple support page.</p>
            </div>
            <div class="col-md-4">
                <h4 class="title">Why use ejs-locals?</h4>
                <p>ejs-locals is a project that allows you to use layouts in addition to partials, so its pretty good for html templates.</p>
            </div>
            <div class="col-md-4">
                <h4 class="title">How to I get started?</h4>
                <p>Clone this repo, then run <code>npm install</code> to install the dependencies. When you are ready, run <code>npm start</code>.</p>
            </div>
            <div class="col-md-4">
                <h4 class="title">What's the point?</h4>
                <p>This was just an experiment to use EJS templates to build a simple support page.</p>
            </div>
            <div class="col-md-4">
                <h4 class="title">Why use ejs-locals?</h4>
                <p>ejs-locals is a project that allows you to use layouts in addition to partials, so its pretty good for html templates.</p>
            </div>
        </div>
        <div id="three" class="row">
            <h2 class="text-center">Subject Three</h2>
            <hr />
            <div class="col-md-4">
                <h4 class="title">How to I get started?</h4>
                <p>Clone this repo, then run <code>npm install</code> to install the dependencies. When you are ready, run <code>npm start</code>.</p>
            </div>
            <div class="col-md-4">
                <h4 class="title">What's the point?</h4>
                <p>This was just an experiment to use EJS templates to build a simple support page.</p>
            </div>
            <div class="col-md-4">
                <h4 class="title">Why use ejs-locals?</h4>
                <p>ejs-locals is a project that allows you to use layouts in addition to partials, so its pretty good for html templates.</p>
            </div>
            <div class="col-md-4">
                <h4 class="title">How to I get started?</h4>
                <p>Clone this repo, then run <code>npm install</code> to install the dependencies. When you are ready, run <code>npm start</code>.</p>
            </div>
            <div class="col-md-4">
                <h4 class="title">What's the point?</h4>
                <p>This was just an experiment to use EJS templates to build a simple support page.</p>
            </div>
            <div class="col-md-4">
                <h4 class="title">Why use ejs-locals?</h4>
                <p>ejs-locals is a project that allows you to use layouts in addition to partials, so its pretty good for html templates.</p>
            </div>
        </div>
        <div id="four" class="row">
            <h2 class="text-center">Subject Four</h2>
            <hr />
            <div class="col-md-4">
                <h4 class="title">How to I get started?</h4>
                <p>Clone this repo, then run <code>npm install</code> to install the dependencies. When you are ready, run <code>npm start</code>.</p>
            </div>
            <div class="col-md-4">
                <h4 class="title">What's the point?</h4>
                <p>This was just an experiment to use EJS templates to build a simple support page.</p>
            </div>
            <div class="col-md-4">
                <h4 class="title">Why use ejs-locals?</h4>
                <p>ejs-locals is a project that allows you to use layouts in addition to partials, so its pretty good for html templates.</p>
            </div>
            <div class="col-md-4">
                <h4 class="title">How to I get started?</h4>
                <p>Clone this repo, then run <code>npm install</code> to install the dependencies. When you are ready, run <code>npm start</code>.</p>
            </div>
            <div class="col-md-4">
                <h4 class="title">What's the point?</h4>
                <p>This was just an experiment to use EJS templates to build a simple support page.</p>
            </div>
            <div class="col-md-4">
                <h4 class="title">Why use ejs-locals?</h4>
                <p>ejs-locals is a project that allows you to use layouts in addition to partials, so its pretty good for html templates.</p>
            </div>
        </div> 
    </div>
</div>