<% layout('../layouts/page') -%>

<div class="container-fluid">
    <div class="row">
        <div class="jumbotron text-center no-nav-pad">
          <h1>Support Page</h1>
          <p>This is a just a simple support page using EJS templates for layouts.</p>
          <p><a href="/help" class="btn btn-primary btn-lg">Go to Support</a></p>
        </div>
    </div>
</div>

<div class="col-md-10 col-md-offset-1">
    <h1>This is the home page</h1>
    <p>Some other content would go here.</p>
    <p>Something about how amazing the website is and how it will change your life.</p>
    <p>And of course some pretty pictures.</p>
</div>