<% layout('../layouts/page') -%>
<% script('/js/support.js') -%>

<div class="form-group container">
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
        <input id="searchInput" type="text" class="form-control" placeholder="Search for help...">
    </div>
</div>

<% include ./faqs %>